{% extends 'admin/layout/sidebar.html' %}
{% load static %}

{% block title %}Dashboard | User Management{% endblock %}

{% block heading %}
<div class="page-heading">
    <h1>User Management</h1>
    <hr />
</div>
{% endblock %}

{% block content %}

<div class="page-shell">
    <div class="page-header">
        <div>
            <p class="page-eyebrow">
                User Management
            </p>
            <h2 style="margin: 0">User Management</h2>
        </div>
    </div>
</div>
{% endblock %}